body {
	margin: 0;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 100;
	width: 100vw;
}
nav {
	padding-left: 10px;
	position: fixed;
	margin-top: 90px;
}
a {
	text-decoration: none;
	color: #FFF;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    cursor: pointer;
    font-weight: 100;
}
a:hover { color: #ADD8E6; }
#home {
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
	height: 750px;
	-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.35);
 	-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.35);
  	box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.35);
}
.thick { font-weight: 300; }
#page-head {
	font-size: 110px;
	color: #FFF;
	line-height: 6.3;
}
.social-icon {
	width: 30px;
	filter: opacity(25%);
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}
.social-icon:first-of-type { padding-left: 2px; }
.social-icon:hover,
.footer-social:hover
{ filter: opacity(95%); }
#nav-contain {
	width: 100%;
	height: 40px;
	padding-top: 15px;
	margin-top: 0;
}
#nav-contain.scrolled {
  background-color: rgba(0, 0, 0, 0.1) !important;
  transition: background-color 200ms linear;
}
.nav-item { font-size: 20px; }
.slash {
	color: #FFF;
	padding: 0 5px 0 10px;
}
#main-nav { padding-left: 15px; }
#small-nav {
	width: 50%;
    text-align: right;
    margin: -27px 20px 0 0;
    float: right;
}
#header {
	width: 100%;
    text-align: center;
}
#socials {
	width: 100%;
	text-align: center;
	margin-top: -280px;
}
#news {
	height: 50vh;
	background:
	linear-gradient(
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0.9)
	),
	url('images/LeighLiamcolor.jpg');
	background-size: cover;
    background-position: top;background-attachment: fixed;
    -webkit-box-shadow: inset 0px 9px 25px -18px black;
 	-moz-box-shadow: inset 0px 9px 25px -18px black;
  	box-shadow: inset 0px 9px 25px -18px black;
}
#news-head {
	width: 100%;
	padding-top: 90px;
	text-align: center;
	font-weight: 300;
	font-size: 26px;
	margin: 0;
}
#check {
	color: #2e4562;
	font-weight: 100;
}
#news-title {
	font-size: 120px;
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
	color: #2e4562;
}
#news-title:hover { color: #ADD8E6; }
#ll-socials {
	width: 150px;
	margin: auto;
}
#music {
	height: 100%;
	-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.35);
 	-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.35);
  	box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.35);
}
#soundcloud { margin-top: 300px; }
#soundcloud,
#youtube {
	width: 100%;
	margin: auto;
}
.more-link {
	width: 100%;
	height: 50px;
	font-size: 24px;
	background-color: #26475f;
	color: #FFF;
	cursor: pointer;
	font-weight: 100;
	border: none;
	padding-top: 0;
	margin-top: -3px;
}
#about {
	height: 90vh;
	background:  
    linear-gradient(
      rgba(4, 33, 62, 0.64), 
      rgba(4, 33, 62, 0.64)
    ),
    url('images/aboutBG.jpg');
    background-size: cover;
  	background-attachment: fixed;
  	-webkit-box-shadow: inset 0px 9px 25px -18px black;
 	-moz-box-shadow: inset 0px 9px 25px -18px black;
  	box-shadow: inset 0px 9px 25px -18px black;
}
#about-text {
	color: #FFF;
	font-size: 28px;
	font-weight: 100;
	width: 60%;
	margin: 0 0 0 50px;
	padding-top: 140px;
}
.about-link { color: #ADD8E6; }
.about-link:hover { color: #808080; }
#contact {
	height: 10vh;
	background-color: #FFF;
	-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.35);
 	-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.35);
  	box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.35);
}
.footer-social {
	width: 40px;
	margin-top: 20px;
	filter: opacity(55%);
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
	padding-left: 20px;
}
#contact-text {
	float: right;
	margin-top: -35px;
	padding-right: 20px;
	font-size: 24px;
	font-weight: 100;
	color: #2e4562;
}
#contact-text:hover { color: #ADD8E6; }


/* Responsiveness! */
/* iPad Wide*/
@media screen and (min-width: 1024px) and (max-width: 1198px) {
	#home { height: 68vh; }
	#page-head {
		font-size: 100px;
		line-height: 4.6;
	}
	#socials { margin-top: -170px; }
	#news-title { font-size: 100px; }
	#about { background-position: -250px; }
	#about-text { padding-top: 70px; }
}

/* iPad Tall*/
@media screen and (min-width: 415px) and (max-width: 1023px) {
	#home { height: 38vh; }
	#page-head {
		font-size: 80px;
		line-height: 4.3;
	}
	#socials { margin-top: -130px; }
	#news { height: 42vh; }
	#news-head { padding-top: 120px; }
	#news-title { font-size: 100px; }
	#music { height: 122vh; }
	#about { background-position: -800px; }
	#about-text {
		padding-top: 105px;
		margin-left: 30px;
	}
	#contact { height: 10vh; }
	.footer-social { margin-top: 30px; }
}

/* Mobile Small - iPhone 5, etc. */
@media screen and (max-width: 320px) {
	#home { height: 29vh; }
	#page-head {
		font-size: 34px;
		line-height: 3.8;
	}
	#main-nav { padding-left: 20px; }
	#small-nav { display: none; }
	#socials { margin-top: -30px; }
	#news { height: 52vh; }
	#news-head { padding-top: 80px; }
	#news-title { font-size: 60px; }
	#music { height: 220.4vh; }
	#about {
		background-position: -800px;
		height: 105vh;
	}
	#about-text {
		padding-top: 60px;
		margin-left: 10px;
		width: 95%;
		font-size: 16.6px;
	}
	#contact { height: 8vh; }
	#contact-text {
		color: #ADD8E6;
		margin-top: -91px;
		padding-right: 90px;
	}
	.footer-social {
		margin-top: 3px;
		padding-left: 17px;
	}
}

/* Mobile Large - iPhone Plus sizes, etc. */
@media screen and (min-width: 376px) and (max-width: 414px) {
	#home { height: 29vh; }
	#page-head {
		font-size: 45px;
		line-height: 3.8;
	}
	#main-nav { padding-left: 65px; }
	#small-nav { display: none; }
	#socials { margin-top: -56px; }
	#news { height: 52vh; }
	#news-head { padding-top: 120px; }
	#news-title { font-size: 70px; }
	#music { height: 170vh; }
	#about { background-position: -800px; }
	#about-text {
		padding-top: 60px;
		margin-left: 20px;
		width: 93%;
		font-size: 21px;
	}
	#contact { height: 10vh; }
	#contact-text {
		color: #ADD8E6;
		margin-top: -115px;
		padding-right: 135px;
	}
	.footer-social {
		margin-top: 20px;
		padding-left: 33px;
	}
}

/* Mobile Regular - iPhone 6, etc. */
@media screen and (min-width: 321px) and (max-width: 375px) {
	#home { height: 29vh; }
	#page-head {
		font-size: 40px;
		line-height: 3.8;
	}
	#main-nav { padding-left: 50px; }
	#small-nav { display: none; }
	#socials { margin-top: -50px; }
	#news { height: 52vh; }
	#news-head { padding-top: 100px; }
	#news-title { font-size: 70px; }
	#music { height: 187.5vh; }
	#about {
		background-position: -800px;
		height: 110vh;
	}
	#about-text {
		padding-top: 60px;
		margin-left: 10px;
		width: 95%;
		font-size: 19.5px;
	}
	#contact { height: 8vh; }
	#contact-text {
		color: #ADD8E6;
		margin-top: -100px;
		padding-right: 115px;
	}
	.footer-social {
		margin-top: 8px;
		padding-left: 26px;
	}
}
